body{
	background: lightgrey;
	font-family: 'Cantarell', sans-serif;
}
.countdown{
	text-align: center;
	background: skyblue;
	border: 1px solid black;
	padding: 6px;
	box-shadow: inset 0 0 30px sandybrown;
}
.info{
	font-size: 80px;
	color: sandybrown;
	text-shadow: -1px 1px 0 black,
		1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black;
}
.time{
	font-size: 80px;
	color: sandybrown;
	text-shadow: -1px 1px 0 black,
		1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black;
}
.timeLabel{
	color: sandybrown;
	text-shadow: -1px 1px 0 black,
		1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black;
}
